<tr>
  <td><%= show_game_column record %></td>
  <td><%= record.coach_play_score %></td>
  <td class="detail"><%= record.min %></td>
  <td class="detail"><%= record.pts %></td>
  <td class="detail"><%= record.fgm %></td>
  <td class="detail"><%= record.fga %></td>
  <td class="detail"><%= record.tpm %></td>
  <td class="detail"><%= record.tpa %></td>
  <td class="detail"><%= record.ftm %></td>
  <td class="detail"><%= record.fta %></td>
  <td class="detail"><%= record.oreb %></td>
  <td class="detail"><%= record.dreb %></td>
  <td class="detail"><%= record.ast %></td>
  <td class="detail"><%= record.tov %></td>
  <td class="detail"><%= record.stl %></td>
  <td class="detail"><%= record.blk %></td>
  <td class="detail"><%= record.pf %></td>
  <td class="detail"><%= record.plus_minus %></td>
  <td class="detail"><%= record.dnp %></td>
</tr>