<div class="table_row header">
  <div class="cell">
    <%= link_to "Player", team_path(@team, order: "full_name"), remote: true, class: "full_name" %>
  </div>
  <div class="cell">
    <%= link_to "Price", team_path(@team, order: "coach_play_price"), remote: true, class: "coach_play_price desc" %>
  </div>
  <div class="cell">
    <%= link_to "Position", team_path(@team, order: "coach_play_position"), remote: true, class: "coach_play_position" %>
  </div>
  <div class="cell">
    <%= link_to "Average Score", team_path(@team, order: "average_coach_play_score"), remote: true, class: "average_coach_play_score" %>
  </div>
</div>
<% @players.each do |player| %>
  <div class="table_row player">
    <div class="cell"><%= player.full_name %></div>
    <div class="cell"><%= player.coach_play_price %></div>
    <div class="cell"><%= player.coach_play_position %></div>
    <div class="cell"><%= player.average_coach_play_score %></div>
  </div>
<% end %>